@model HostelProject.ViewModels.AdminViewModels.ChangePasswordViewModel

@{
    ViewBag.Title = "Chenge password";
}

@section Menu {
    <a asp-controller="Users" class="btn btn-sm btn-custom" asp-action="Index">Back</a>
}

<div class="container">
    <div class="row text-center a-list-custom">
        <div class="col-12">
            <h2>
                <a class="h2-custom">
                    Changing password for a user @Model.Email
                </a>
            </h2>
        </div>

        <div class="col-4">
        </div>

        <div class="col-4">

            <form asp-action="ChangePassword" asp-controller="Users">
                <div asp-validation-summary="All" class="text-danger"></div>

                <input type="hidden" asp-for="Email" />
                <a class="item-left">New Password</a>
                <div class="form-group">
                    <input type="password" asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword"></span>
                </div>
                <div class="form-group item-left">
                    <input type="submit" value="Save" class="btn btn-sm btn-custom" />
                </div>
            </form>
        </div>

        <div class="col-4">
        </div>
    </div>
</div>