@{
    ViewData["Title"] = "Manager";
}

@section Menu {
    <div class="container">
        <div class="row">
            <div class="col-9 div-centr margin-bottom-user-edit-custom">
                <form method="get" asp-controller="StudentMenu" asp-action="Index">
                    <button type="submit" class="btn btn-sm btn-custom btn-block">Student Menu</button>
                </form>
            </div>
        </div>
    </div>
}