@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>
    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" class="btn btn-sm btn-primary" value="Logout" />
    </form>
}
else
{
    @section Menu {
        <a asp-controller="Guest" class="btn btn-sm btn-custom" asp-action="Index">Guest Menu</a>
    }

}